{% extends 'layout.html.twig' %}
{#<DIV STYLE="width:350;height:300;background:BLACK;color:GREEN;border-style:solid;border-width:1;border-color:#000000;font-family:Arial;font-size:14px" ID=bloc></DIV>#}

{% block content %}
    <h1>coucou</h1>
{% endfor %}
