{% extends 'layout.html.twig' %}

{% block title %}Intro{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style_intro.css">
{% endblock %}

{% block content %}
<section class="container offset-6">
    <div class="text">
        <p>" Je suis wilder, il est 1h du matin, j’ai codé cette nuit lors de mon premier hackathon et je décide de rentrer chez moi me reposer.</p>
        <p>Sur la route, je me sens très fatigué, je vois un hôtel où la nuit et le petit déjeuner sont offert (à quelques conditions...).</p>
        <p>Je décide de m’y rendre.</p>
        <p>J’entre donc dans l’établissement, une fois à l’intérieur, il fait tout noir, la porte d’entrée se referme derrière moi, je me retourne et fait face à un couloir qui ne mène qu’à une seule porte, la chambre 13..."</p>
    </div>
    <a class="btn btn-danger" href="../home/index">Continuer</a>
</section>
{% endblock %}
