{% extends 'layout.html.twig' %}

{% block title %}Intro{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style_intro.css">
{% endblock %}

{% block content %}
<section class="container offset-6">
    <div class="text">
        <p>" Je suis wilder, il est 1h du matin, j’ai codé cette nuit lors de mon premier hackathon et je décide de rentrer chez moi me reposer.</p>
        <p>Sur la route, je me sens très fatigué, je vois un hôtel où la nuit et le petit déjeuner sont offerts (à quelques conditions ...).</p>
        <p>Je décide d'y entrer.</p>
        <p>Une fois à l’intérieur, il fait sombre, la porte d’entrée se referme derrière moi. Je me retourne et fais face à un couloir qui ne mène qu’à une seule porte, la chambre 13 ..."</p>
    </div>
    <a class="btn btn-danger" href="../home/index">Continuer</a>
</section>
{% endblock %}
